:root {
    --black: #0A0A0A;
    --white: #FFFFFF;

    --gray100: #FBFAFF;
    --gray200: #DEDCE5;
    --gray300: #A9A5AC;
    --gray400: #736E72;
    --gray500: #585558;

    --purple100: #D6CCFF;
    --purple200: #7B50FF;
    --purple300: #5428A3;
    --purple400: #391475;

    --pink200: #B450BC;
    --pink300: #B82ABE;

    --dark400: #2F2847;
    --dark500: #2B1F39;

    --space-unit: 8px;
    --space-xxs: calc(0.25 * var(--space-unit)); 
    --space-xs: calc(0.5 * var(--space-unit));  
    --space-sm: calc(0.75 * var(--space-unit)); 
    --space-md: calc(1.25 * var(--space-unit)); 
    --space-lg: calc(2 * var(--space-unit));    
    --space-xl: calc(3.25 * var(--space-unit)); 
    --space-xxl: calc(5.25 * var(--space-unit));

    --radius: var(--space-xs);
}

