:root {
    --black: #0A0A0A;
    --white: #FFFFFF;

    --gray100: #FBFAFF;
    --gray200: #DEDCE5;
    --gray300: #A9A5AC;
    --gray400: #736E72;
    --gray500: #585558;

    --purple100: #D6CCFF;
    --purple200: #A791FF;
    --purple300: #7B50FF;
    --purple400: #5428A3;
    --purple500: #391475;

    --pink200: #B450BC;
    --pink300: #B82ABE;

    --dark100: #2F2847;
    --dark200: #29213B;
    --dark300: #231B30;
    --dark400: #1E1424;
    --dark500: #180D18;

    --level-fatal: #F02F35;
    --level-default: #EE8019;
    --level-warning: #FDB81B;
    --level-info: #226DFC;

    --space-unit: 8px;
    --space-xxs: calc(0.25 * var(--space-unit)); 
    --space-xs: calc(0.5 * var(--space-unit));  
    --space-sm: calc(0.75 * var(--space-unit)); 
    --space-md: calc(1.25 * var(--space-unit)); 
    --space-lg: calc(2 * var(--space-unit));    
    --space-xl: calc(3.25 * var(--space-unit)); 
    --space-xxl: calc(5.25 * var(--space-unit));

    --radius: var(--space-xs);

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}

